:root {
    --bg-color: white;
    --text-color: black;
  }
  
  [data-theme="dark"] {
    --bg-color: black;
    --text-color: white;
  }
  
  .app {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  